@import "https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Work+Sans:wght@300;400;500;600&display=swap";

$first-color: #1363DF;
$second-color: #001330;
$third-color: #47B5FF;
$fourth-color: #D9F0FF;
$light-color-firt: #D9F0FF;
$light-color-second: #F1F1F1;
$light-color-third: #FAFAFA;
$menu-color-hover: #ECECEC;
$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Heebo', sans-serif;

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	line-height: 1;
  width: 100%;
	font-size: 16px;
	font-family: $primary-font;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}