@import "../App/App.scss";

.options {
  margin: 5px;
  padding: 2px;
  padding-top: .8em;
  @include flex-center;

  &__settings {
    width: 50%;
    padding: 2px;

    h4 {
      text-align: center;
      padding: 2px;
      color: #303030;
    }

    &__content {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 32px;
      }

      &__switch {
        padding: 3px;

        &__label {
          display: inline-block;
          width: 55px;
          height: 30px;
          background: #aaa;
          border-radius: 100px;
          position: relative;
          cursor: pointer;
        }

        #switch-theme:checked~ &__label,
        #switch-lang:checked~ &__label {
          background: $fifth-color;
        }

        #switch-theme:checked~ &__label:after,
        #switch-lang:checked~ &__label:after {
          left: 28px;
        }

        #switch-theme,
        #switch-lang {
          display: none;
        }

        &__label:after {
          content: '';
          position: absolute;
          width: 22px;
          height: 22px;
          background: #fff;
          border-radius: 100px;
          top: 4px;
          left: 5px;
          transition: .3s;
        }
      }
    }
  }
}